/* ____________ GLOBAL STYLING ____________ */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  background-color: #111111;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: clip;
}
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

section {
  padding: 5rem 1rem;
}
.slide-left,
.slide-right {
  opacity: 0;
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}
.slide-left {
  transform: translateX(-80px);
}
.slide-right {
  transform: translateX(80px);
}
.slide-left.show,
.slide-right.show {
  opacity: 1;
  transform: translateX(0);
}
/* ____________ COMPONENTS STYLING ____________ */
.btn {
  padding: 15px 60px;
  font-weight: bold;
}
.primaryBtn {
  background-color: #98211a;
  transform: skewX(-15deg);
}
.primaryBtn span {
  transform: scaleX(15deg);
}
.secondaryBtn {
  transform: skewX(-15deg);
}
.secondaryBtn span {
  transform: scaleX(15deg);
}

/* ____________ NAV SECTION ____________ */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background: transparent;
}
.nav::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: background-color 0.3s ease;
}
.nav.scrolled {
  border-bottom: 1px solid #5d616669;
}
.nav.scrolled::before {
  background-color: #11111150;
  backdrop-filter: blur(10px);
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  z-index: 11;
}
.logo-text {
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-logo-img {
  width: 40px;
  height: auto;
}
.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  inset: 0;
  background-color: #111111;
  z-index: 10;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.navList a {
  font-size: 2.5rem;
  padding: 0.25rem 0;
  font-weight: bold;
  color: #d2d4d7;
}
.navList.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navMenu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  z-index: 11;
}
.navMenuSpan {
  width: 30px;
  height: 2px;
  background-color: #e0d8d0;
}
.navMenu.active .navMenuSpan:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.navMenu.active .navMenuSpan:nth-child(2) {
  opacity: 0;
}
.navMenu.active .navMenuSpan:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}
.icons {
  display: none;
}
.navBtn {
  display: none;
}

/* ____________ HERO SECTION ____________ */
.header {
  background-image: url(images/mypfp.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 1rem;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #5d61665d, #1a1d20);
  pointer-events: none;
  z-index: 1;
}
.heroSection {
  padding: 0;
}
.heroContent {
  padding: 0 1rem;
}
.heroContent {
  position: relative;
  z-index: 2;
}
.heroComponent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
  margin-bottom: 3rem;
}
.heroComponentSpan {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #8d0801;
  border-radius: 50%;
}
.heroH1Span {
  display: block;
  background: linear-gradient(120deg, #630601, #98211a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 900;
}
.heroParagraph {
  font-size: 0.8rem;
  color: #d2d4d7;
  margin-bottom: 1rem;
  max-width: 300px;
  line-height: 1.7;
  letter-spacing: 0.8px;
}
.heroBtn2 {
  border-top: 1px solid #d2d4d76c;
  border-bottom: 1px solid #d2d4d76c;
  margin-top: 1rem;
  background-color: #d2d4d70a;
}
.heroButtons {
  margin-bottom: 2rem;
}
.ratingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.ratingsContainerChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.ratingsContainerChild p {
  font-size: 0.6rem;
  color: #d2d4d7;
  letter-spacing: 2px;
}
.ratingsContainerChild div {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.ratingsContainerChild div span {
  font-weight: bold;
  color: #8d0801;
}
.hero-animate {
  opacity: 0;
  transform: translateY(30px);
  animation: heroIn 0.9s ease forwards;
}
.hero-animate:nth-child(1) {
  animation-delay: 0.1s;
}
.hero-animate:nth-child(2) {
  animation-delay: 0.3s;
}
.hero-animate:nth-child(3) {
  animation-delay: 0.5s;
}
.hero-animate:nth-child(4) {
  animation-delay: 0.7s;
}
.hero-animate:nth-child(5) {
  animation-delay: 0.9s;
}
@keyframes heroIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ____________ MARQUEE SECTION ____________ */

.marquee-section {
  border-top: 1px solid #98211a;
  border-bottom: 1px solid #98211a;
  overflow: hidden;
  padding: 1.2rem 0;
  background-color: #111111;
}
.marquee-track {
  display: flex;
  gap: 0;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
  width: max-content;
}
.marquee-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #3e3b38;
}
.marquee-item span {
  color: #98211a;
  font-size: 1.2rem;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ____________ ABOUT SECTION ____________ */
.about {
  background-color: #1a1a1a;
}

.section-label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #98211a;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.section-label::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #98211a;
  margin-right: 0.5rem;
}
.about-header {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.about-lead {
  color: #e9ecef;
  margin-bottom: 1rem;
}
.about-lead span {
  color: #98211a;
}
.about-paragraph,
.about-right-para {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: #d2d4d7;
}
.about-quote {
  border-left: 2px solid #630601;
  padding-left: 1.5rem;
  line-height: 1.55;
  margin: 2rem 0rem;
  font-weight: bold;
}
.status-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #98211a;
  border-radius: 2px;
  margin: 3rem 0;
  color: #e01107;
  background-color: #98201a42;
}
.status-badge span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #e01107;
  border-radius: 50%;
}
/* ABOUT RIGHT */
.about-right {
  position: relative;
}
.about-logobg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  opacity: 0.09;
  z-index: 0;
}
.about-right-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1.5rem 0;
  border-top: 1px solid #5d616669;
}
.about-right-content:last-child {
  border-bottom: 1px solid #5d616669;
}
.about-right-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.about-right-subheader {
  color: #d2d4d7;
  font-size: 0.8rem;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 1rem;
}
.about-right-para {
  color: #6f7379;
  font-size: 0.8rem;
}
.about-dot {
  height: 8px;
  width: 8px;
  background-color: #2a2a2a;
  border-radius: 50%;
}

/* ____________ PROJECTS SECTION ____________ */

.projects {
  background-color: #111111;
}
.project-header {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
/* .project-cards-container {
  display: flex;
  flex-direction: column;
} */
.project-card {
  background-color: #1a1a1a;
  border: 1px solid #333333;
  margin-bottom: 0.2rem;
  overflow: hidden;
}

.card-img {
  position: relative;
  overflow: hidden;
  height: 260px;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}
.card-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 75%, #1a1a1a 100%);
  pointer-events: none;
}

.card-content {
  padding: 1.5rem;
}
.project-card-component {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #98211a;
  display: flex;
  align-items: center;
}
.project-card-component::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #98211a;
  margin-right: 0.5rem;
}
.project-card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.project-card-paragraph {
  font-size: 0.9rem;
  color: #6f7379;
  margin-bottom: 1rem;
  line-height: 1.7;
}
.card-btn {
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  gap: 0.5rem;
  color: #d2d4d7;
  display: inline-flex;
  align-items: center;
}

/* ____________ work-process SECTION ____________ */
.work-process {
  background-color: #1a1a1a;
}
.work-process-component {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #98211a;
  display: flex;
  align-items: center;
}
.work-process-component::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #98211a;
  margin-right: 0.5rem;
}
.work-process-header {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.process {
  display: grid;
  gap: 0.3rem;
}
.process-step {
  padding: 1.2rem;
  background-color: #111111;
  border: 1px solid #333333;
}
.step-number {
  font-size: 3rem;
  font-weight: 800;
  color: #3a3a46;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
}
.process-step h4 {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}
.timeline-role {
  font-size: 0.9rem;
  margin-bottom: 3rem;
  color: #d2d4d7;
  font-family: "JetBrains Mono", monospace;
}

.process-step p {
  font-size: 0.8rem;
  color: #6f7379;
  margin-top: 1rem;
  line-height: 1.7;
}

/* ____________ REVIEWS SECTION ____________ */
.reviews {
  background-color: #111111;
}
.review-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.review-card {
  position: relative;
  padding: 56px 40px 28px;
  background-color: #1a1a1a;
  border: 1px solid #333333;
  color: #f3f1e8;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 60px #00000073;
}
.review-card::before {
  content: "\201c";
  position: absolute;
  top: -35px;
  left: 20px;
  font-size: 5.5rem;
  font-family: "JetBrains Mono", monospace;
  color: rgba(255, 255, 255, 0.082);
}
.review-card p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: #d2d4d7;
  /* transform: rotateY("-6deg") rotateX("4deg"); */
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid #5d616669;
  padding-top: 1rem;
}
/* ____________ CONTACT SECTION ____________ */
.contact {
  background-color: #1a1a1a;
}
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 3.5rem;
}
.contact-left p {
  font-size: 1.01rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: #d2d4d7;
  margin-bottom: 0.25rem;
}
.contact-email-link {
  display: inline-flex;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.08em;
  font-size: 0.8rem;
  gap: 0.5rem;
  margin: 1.25rem 0 2rem;
  color: #8d0801;
  text-transform: uppercase;
  font-weight: bold;
}
.contact-email-link ion-icon {
  font-size: 1rem;
  font-weight: bold;
  color: #8d0801;
}
.contact-info-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.contact-info-item:first-child {
  border-top: 1px solid #5d616669;
}
.contact-info-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.1rem 0;
  border-bottom: 1px solid #5d616669;
  color: #d2d4d7;
}
.contact-info-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  border: 1px solid #5d616669;
  border-radius: 2px;
}
.contact-info-icon ion-icon {
  font-size: 1.2rem;
  color: #8d0801;
}
.contact-info-label {
  font-size: 0.8rem;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  color: #6f7379;
}
.contact-info-value {
  font-size: 0.9rem;
  color: #d2d4d7;
}
.contact-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.65rem;
  margin-top: 2rem;
}
.social-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.67rem;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d2d4d7;
  padding: 0.5rem 1rem;
  border: 1px solid #5d616669;
  border-radius: 2px;
}
.social-link ion-icon {
  font-size: 1rem;
  color: #d2d4d7;
}
/* CONTACT RIGHT */
.contact-right {
  background-color: #111111;
  padding: 2rem;
  border: 1px solid #333333;
  position: relative;
  overflow: hidden;
}
.contact-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg, #8d0801, transparent 75%);
  pointer-events: none;
}
.form-header {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
}
.form-subheader {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #6f7379;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.form-label {
  font-family:
    jetbrains mono,
    monospace;
  font-size: 0.7rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6f7379;
}
.form-label .required {
  color: #98211a;
  font-size: 0.8rem;
  line-height: 1;
}
.form-input,
.form-select,
.form-textarea {
  width: 100%;
  border: 1px solid #333333;
  background-color: #1a1a1a;
  color: #d2d4d7;
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 1.6;
  padding: 0.75rem 1rem;
  outline: none;
  /* trans */
}
.form-error-message {
  font-size: 0.7rem;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.1em;
  color: #98211a;
  display: none;
}
.form-foooter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-foooter button {
  border: none;
}
.form-note {
  font-size: 0.7rem;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-note ion-icon {
  font-size: 1rem;
  color: #6f7379;
}

/* ____________ FOOTER SECTION ____________ */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.75rem 1.2rem;
  border-top: 1px solid #5d616669;
}
.footer-copy {
  font-family:
    jetbrains mono,
    monospace;
  font-size: 0.7rem;
  color: #6f7379;
  letter-spacing: 0.08em;
}
.footer-build {
  font-family:
    jetbrains mono,
    monospace;
  font-size: 0.7rem;
  color: #6f7379;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-build span {
  color: #98211a;
  font-weight: bold;
}
